<div class="hero jumbotron jumbotron-fluid">
	<div class="container-fluid d-flex justify-content-center">
		<div class="hero-text-wrapper d-flex flex-column col-8">
			<h1 class="display-4 hero-text">wonderful offers!</h1>
			<p class="lead hero-text">Take a timeout and enjoy the world</p>
			<a class="btn btn-outline-secondary btn-lg mb-3 col-3" routerLink="/travels" role="button">Overview!</a>
			<a class="btn btn-outline-secondary btn-lg mb-3 col-3" routerLink="/cart" role="button">Cart!</a>
		</div>
		<img src="../assets/img/banner_travel.jpg" alt="Banner Airport">
	</div>
  </div>