<hero></hero>
<h3 class="text-center my-5">Visit awesome places around the world</h3>


<div class="container-fluid col-10 d-flex flex-wrap justify-content-between mx-auto my-5">
	<div class="image col-lg-5 col-md-6 col-sm-12">
		<img src="../assets/img/hamburg.jpg" alt="Hamburg" class="rounded">
	</div>
	<div class="h5 col-lg-6 col-md-6 col-sm-12 rounded d-flex align-items-center text-center">
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna.
			Nunc viverra imperdiet enim. Fusce est. Vivamus a tellus.
			Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin pharetra nonummy pede.
		</p>
	</div>
</div>

<div class="container-fluid col-10 d-flex flex-wrap justify-content-between mx-auto my-5">
	<div class="image col-lg-5 col-md-6 col-sm-12">
		<img src="../assets/img/emirats.jpg" alt="Emirats" class="rounded">
	</div>
	<div class="h5 col-lg-6 col-md-6 col-sm-12 rounded d-flex align-items-center text-center">
		<p>البهلوانية السريرية ، ولكن وسادة كبيرة جدا تخرج من الفلفل الحار والجزر مع وعاء الفول السوداني راحة واحدة.
			لسحب التمويل الآن. انه بني. يعيش من المنطقة. الجوع والفقر. تعويض جعب البهلوانية السريرية ، ولكن وسادة كبيرة جدا تخرج من الفلفل الحار والجزر مع وعاء الفول السوداني راحة واحدة.
			لسحب التمويل الآن. انه بني. يعيش من المنطقة. الجوع والفقر. تعويض جعب			
		</p>
	</div>
</div>

<div class="container-fluid col-10 d-flex flex-wrap justify-content-between mx-auto my-5">
	<div class="image col-lg-5 col-md-6 col-sm-12">
		<img src="../assets/img/russia.jpg" alt="Russia" class="rounded">
	</div>
	<div class="h5 col-lg-6 col-md-6 col-sm-12 rounded d-flex align-items-center text-center">
		<p>Меценатная портиторская масса. Клиническая акробатика, но большая подушка язвы вестибюля градуирована чили, морковь с арахисом удобна на один горшок.
			А пока потяните финансирование. Коричневый Жить из региона.
			Питание жителей футбола печально, старые и уродливые голода и бедности. Смещение колчана в середине ноги. Мавров и клинических.
			Pellentesque massa Aenean nec lorem. В авиакомпании. Пока Лаорит сместил пропаганду.
		</p>
	</div>
</div>

<div class="container-fluid col-10 d-flex flex-wrap justify-content-between mx-auto my-5">
	<div class="image col-lg-5 col-md-6 col-sm-12">
		<img src="../assets/img/china.jpg" alt="China" class="rounded">
	</div>
	<div class="h5 col-lg-6 col-md-6 col-sm-12 rounded d-flex align-items-center text-center">
		<p>运工弥撒。临床有杂技，但大枕头上有菜，辣椒，胡萝卜与花生方便一锅。
			就目前而言，拉动融资。是棕色的。从该地区居住。营养居民足球悲伤和丑陋运工弥撒。临床有杂技，但大枕头上有菜，辣椒，胡萝卜与花生方便一锅。
			就目前而言，拉动融资。是棕色的。从该地区居住。营养居民足球悲伤和丑陋运工弥撒。临床有杂技，但大枕头上有菜，辣椒，胡萝卜与花生方便一锅。
			就目前而言，拉动融资。是棕色的。从该地区居住。营养居民足球悲伤和丑陋 从该地区居住。营养居民足球悲伤和丑陋运工弥撒。临床有杂技，但大枕头上有菜，辣椒，胡萝卜与花生方便一锅。
			就目前而言，拉动融资。是棕色的。从该地区居住。营养居民足球悲伤和丑陋
		</p>
	</div>
</div>






